{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}"> 
      	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      	<span> <strong>Your Income! &emsp;</strong>{{ message }}</span>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}