<div class="row">
	<div class="col-md-1">
		<div class="form-group">		
			{{render_field(form.age, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">		
				{{render_field(form.workclass, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">		
				{{render_field(form.fnlwgt, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">		
				{{render_field(form.education, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">		
				{{render_field(form.education_num, class_='form-control')}}
		</div>
	</div>
</div>