<div class="row">
	<div class="col-md-3">
		<div class="form-group">		
			{{render_field(form.marital_status, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">		
				{{render_field(form.occupation, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">		
				{{render_field(form.relationship, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">		
				{{render_field(form.race, class_='form-control')}}
		</div>
	</div>
</div>