<div class="row">
	<div class="col-md-2">
		<div class="form-group">		
			{{render_field(form.sex, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">		
				{{render_field(form.capital_gain, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">		
				{{render_field(form.capital_loss, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">		
				{{render_field(form.hours_per_week, class_='form-control')}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">		
				{{render_field(form.native_country, class_='form-control')}}
		</div>
	</div>
</div>